@import 'variables.scss';

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background-color: $menuButtonColor;
    cursor: pointer;    
    outline-color: $beforeColor;
    &:not(.menu-button__desctop):hover {
        border: 2px solid $beforeColor;
    }

    &__desctop {
        justify-content: space-between;
        width: auto;
        height: auto;
        background-color: $bgColor;
        border-radius: 6px;
        font-family: TT lakes, sans-serif;
        font-size: 16px;
        white-space: nowrap;
        gap: 0.17rem;
        transition: background-color 250ms ease-in-out;
        &:hover {
            color: $textColor;
            background-color: rgba(0, 0, 0, 0.05); 
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
        padding: 0.3rem;
    }

    &:active {
        transform: scale(0.97);
        transition: 200ms all;
    }

    &--ml-auto {
        margin-left: auto;
    }
}

@media (min-width: 1366px) {
    .menu-button {
        &--close {
            display: none;
        }
    }
}

