@import 'variables.scss';

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__item {
        position: relative;
        display: flex;
        align-items:center;
        width: 100%;
        min-height: 2rem;
        color: #1B1C21;
        transition: 350ms all;
        &::after {
            content: "";
            display: block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -1.5rem;
            width: 0;
            height: 100%;
            background: linear-gradient(to right, $beforeColor, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0.05), $bgWhiteColor);
            transition: opacity, width 350ms ease-in-out;
        }
        &:hover {
            color: black;
            &::after {
                opacity: 1;
                width: calc(100% + 1.5rem);
            }
        }

        &--active {
            color: $textNavColor;
            &:hover::after {
                opacity: 0;
                width: 0;
            }
            &::before {
                content: "";
                width: 0.25rem;
                height: 2rem;
                background-color: $beforeColor;
                border-radius: 0 0.5rem 0.5rem 0;
                position: absolute;
                left: -1.5rem;
            }
        }
    }

    &__link {
        display: block;
        height: 100%;
        width: inherit;
        color: inherit;
    }
}



