@import 'variables.scss';

.slide-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    min-height: 4.5rem;
    width: 15rem;
    background-color: $bgWhiteColor;
    border: 1px solid $slideCardBorderColor;
    border-radius: 6px; 
    cursor: pointer;
    &:hover {
        border: 1px solid $menuButtonColor;
    }

    &__text {
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: -0.2px;
        color: $textColor;
        align-self: flex-start;
    }

    &__arrow {
        &--types {
            align-self: flex-end;
        }
    }

    &--types {
        min-height: 10rem;
        flex-direction: column;
        padding: 1rem;
    }
}

