$bgColor: #F8F8F8;
$bgWhiteColor: #FFFFFF;
$textColor: #1B1C21;
$textNavColor: #7E7E82;
$beforeColor: #41F6D7;
$headerDividerColor: #EAEAEA;
$navBorderColor: #B8FFEC;
$headerBorderColor: #D9FFF5;
$paginationActiveColor: #F8F8F8;
$paginationColor: #DDDDDD;
$menuButtonColor: #FF3E79;
$contentButtonColor: #41F6D7;
$paginationBulletColor: #DDDDDD;
$paginationBulletActiveColor: #B5B6BC;
$slideCardBorderColor: #EAEAEA;

